<div class="answerbox">
  <div class="questionform">
<form action="/answer" method="get">
  <input type="text" class="form" name="question" placeholder="What is your question?">
  <input type="submit" class="form" value="Ask!">
</form>
</div>
</div>
